body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
    margin-top: 255px;
       
}

.login-container {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 300px;
    height: auto;
    align-items: start;
}

.formulario {
    margin-bottom: 30px;
    font-size: 50px;
    color: rgb(228, 228, 228);

}

#pFb{
    font-size: 28px;
}

#separador{
    color: rgb(228, 228, 228);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btnInicio{
    padding-bottom: 10px;
}

#imgFooter {
    padding-top: 250px;
    width: 100%;
    height: fit-content;
}
